<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>index</title>
    <link rel="stylesheet" href="/css/index.css">
    <script type="text/javascript" src="./js/welcome.js"></script>
  </head>
  <body>
    <div class="header">
      <a href="https:/\/oofinalproject.herokuapp.com/"><img src="/pic/02.png" ></a>
      <div class="cart-icon" onclick="ChangeMode()">
        <img src="/pic/01.png" >
      </div>
      </div>
      <div class="homepage">
        <h1 class="title">首頁</h1>
        <div class="directory-menu">
          <div class="menu-item">
              <img class="background-image" src="/pic/03.jpg" >
            <a href="https:/\/oofinalproject.herokuapp.com/MiTMSTP2AP01" class="content">
              <h1 class="title">MiTMSTP2AP01</h1>
            </a>
          </div>
          <div class="menu-item">
              <img class="background-image" src="/pic/04.jpg" >
            <a href="https:/\/oofinalproject.herokuapp.com/MiTMSTP2NFS" class="content">
              <h1 class="title">MiTMSTP2NFS</h1>
            </a>
          </div>
          <div class="menu-item">
            <img class="background-image" src="/pic/05.jpg" >
            <a href="https:/\/oofinalproject.herokuapp.com/Turnkey" class="content">
              <h1 class="title">Turnkey</h1>
            </a>
        </div>
      </div>
      <div class="directory-menu">
        <div class="menu-item">
            <img class="background-image" src="/pic/06.jpg" >
          <a href="https:/\/oofinalproject.herokuapp.com/TurnkeyLogTask" class="content">
            <h1 class="title">TurnkeyLogTask</h1>
          </a>
        </div>
        <div class="menu-item">
            <img class="background-image" src="/pic/07.jpg" >
          <a href="https:/\/oofinalproject.herokuapp.com/WriteInvoiceInfoTask" class="content">
            <h1 class="title">WriteInvoiceInfoTask</h1>
          </a>
        </div>
      </div>
    
  </body>
</html>