<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>index</title>
    <link rel="stylesheet" href="/css/index.css">
  </head>
  <body>
    <div class="header">
          <div class="cart-icon">
            <a href="https:/\/oofinalproject.herokuapp.com/"><img src="/pic/02.JPG" ></a>
          </div>
        </div>
      <div class="homepage">
        <h1 class="title">首頁</h1>
        <div class="directory-menu">
          <div class="menu-item">
              <img class="background-image" src="https://mmbiz.qpic.cn/mmbiz_jpg/hu7Tjj7JtFsFtBU7kyF2vGEkuaWca5Fnuiax5GjFDKRIsR80BY4SC1DVGJYLHWOBtZ0kXxeCqD1t9TIEhxbE3ibg/" >
            <a href="https:/\/oofinalproject.herokuapp.com/MiTMSTP2AP01" class="content">
                <h1 class="title">MiTMSTP2AP01</h1>
            </a>
          </div>
          <div class="menu-item">
             <img class="background-image" src="https://media-proc.singtaousa.com/photo.php?s=https://media.singtaousa.com/wp-content/uploads/master/2021/10/2021101322414695644.jpg&f=jpeg&w=815&q=75" >
            <a href="https:/\/oofinalproject.herokuapp.com/MiTMSTP2NFS" class="content">
                <h1 class="title">MiTMSTP2NFS</h1>
            </a>
          </div>
          <div class="menu-item">
          <img class="background-image" src="https://images.twgreatdaily.com/images/elastic/910/910c725562889489fffc71fe1d3ae26e.jpg" >
            <a href="https:/\/oofinalproject.herokuapp.com/Turnkey" class="content">
            <h1 class="title">Turnkey</h1>
        </a>
        </div>
      </div>
      <div class="directory-menu">
        <div class="menu-item">
            <img class="background-image" src="https://mmbiz.qpic.cn/mmbiz_jpg/hu7Tjj7JtFsFtBU7kyF2vGEkuaWca5Fnuiax5GjFDKRIsR80BY4SC1DVGJYLHWOBtZ0kXxeCqD1t9TIEhxbE3ibg/" >
          <a href="https:/\/oofinalproject.herokuapp.com/TurnkeyLogTask" class="content">
              <h1 class="title">TurnkeyLogTask</h1>
          </a>
        </div>
        <div class="menu-item">
            <img class="background-image" src="https://mmbiz.qpic.cn/mmbiz_jpg/hu7Tjj7JtFsFtBU7kyF2vGEkuaWca5Fnuiax5GjFDKRIsR80BY4SC1DVGJYLHWOBtZ0kXxeCqD1t9TIEhxbE3ibg/" >
          <a href="https:/\/oofinalproject.herokuapp.com/WriteInvoiceInfoTask" class="content">
              <h1 class="title">WriteInvoiceInfoTask</h1>
          </a>
        </div>
      </div>
    
  </body>
</html>