<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>index</title>
  <!-- Bootstrap core CSS-->
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom fonts for this template-->
  <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <!-- Page level plugin CSS-->
  <link href="/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
  <!-- Custom styles for this template-->
  <link href="/css/sb-admin.css" rel="stylesheet">
  <!-- index特效 css -->  
  <link href="/css/index_test.css" rel="stylesheet">
  
  <script type="text/javascript" src="./js/welcome.js"></script>
  
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <!-- index.js -->
  <script type="text/javascript" src="/js/index_test.js"></script>
<!--   刷新頁面 content=秒數 -->
  <meta http-equiv="refresh" content="600">

</head>

<body class="sticky-footer bg-dark" id="page-top">
  <!-- 宣告變數
  <script>var aud_state = 1; </script>
  -->
   <!-- 抓table 
  <script type="text/javascript">
    //  function GetDataValue(){
    //   var DataValue=document.querySelector("#TurnkeyLogTask > tr:nth-child(1)").style.backgroundColor;
    //   //console.log("DV"+DataValue);
    //   if(DataValue == "tomato" && snd_state){
    //     snd.play();
    //   }
    //   else{
    //     snd.pause();
    //     snd.currentTime = 0;
    //   }
    //  }
  </script>
  -->

  <!--  音樂控制 
  <script type="text/javascript">
    /*$(".jq-addNum").click(function () {
      playPause()
    });*/
    // var snd = new Audio();
    // snd.src ="/aud/alarms01.mp3";
    // snd.loop = true; //設定循環播放
    // //snd.play();
    // var snd_state = 0;

    // //停止
    // function SndControl(){
    //   if(snd_state){
    //     snd_state = !snd_state;
    //   }
    //   else{
    //     snd_state = !snd_state;
    //   }
        
    // }
  </script>
  -->

  <!-- Navigation-->


  <!--
    <audio id="myAudio">
    <source src="/aud/alarms01.mp3" type="audio/mpeg">
    </audio>
  -->

  <!-- Navigation-->

<!--   <div class="content-wrapper"> -->
    <!--<div class="container-fluid">

      </div>-->
      <!-- Breadcrumbs-->
<!--       <ol class="breadcrumb"> -->
<!--         <li class="breadcrumb-item"> -->
<!--           <a href="#">Dashboard</a> -->
<!--         </li> -->
<!--         <li class="breadcrumb-item active">Tables</li> -->
<!--       </ol> -->
      
<!--      Example DataTables Card-->
      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-table"></i> index
            <button_type>
              <input type="button" id="jq-addNum"value="開/關音樂" onclick="playmusic();">
              <input type="button" value="重新整理網頁" onclick="location.href='https:/\/oofinalproject.herokuapp.com/Turnkey'">
              <input type="button" value="回到主頁面" onclick="location.href='https:/\/oofinalproject.herokuapp.com/index'">
            </button_type>
        </div>
      </div>

          

<div class="demo">
  <svg class="sidebar" viewBox="0 0 300 500">
    <path class="s-path" fill="#fff" d="M0,0 50,0 a0,250 0 1,1 0,500 L0,500" />
  </svg>
  <div class="static">
    <!--<div class="static__text">Pull white sidebar to the right</div>-->
  </div>
  <div class="sidebar-content">
    <div >
      <a href="http://localhost:3000"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/elastic-man.png" alt="" class="contact__photo"  /></a>
      <span class="contact__name">Ethan Hawke</span>
      <span class="contact__status online"></span>
    </div>
    <div class="contact">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/elastic-girl.png" alt="" class="contact__photo" />
      <span class="contact__name">Natalie Portman</span>
      <span class="contact__status online"></span>
    </div>
    <div class="contact">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/elastic-man.png" alt="" class="contact__photo" />
      <span class="contact__name">Kevin Spacey</span>
      <span class="contact__status online"></span>
    </div>
    <div class="contact">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/elastic-girl.png" alt="" class="contact__photo" />
      <span class="contact__name">Rosamund Pike</span>
      <span class="contact__status online"></span>
    </div>
    <div class="contact">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/elastic-man.png" alt="" class="contact__photo" />
      <span class="contact__name">Robert Redford</span>
      <span class="contact__status online"></span>
    </div>
    <div class="contact">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/elastic-girl.png" alt="" class="contact__photo" />
      <span class="contact__name">Scarlett Johansson</span>
      <span class="contact__status online"></span>
    </div>
    <div class="contact">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/elastic-man.png" alt="" class="contact__photo" />
      <span class="contact__name">Tom Cruise</span>
      <span class="contact__status"></span>
    </div>
    <div class="contact">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/elastic-girl.png" alt="" class="contact__photo" />
      <span class="contact__name">Eva Green</span>
      <span class="contact__status"></span>
    </div>
    <div class="contact">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/elastic-man.png" alt="" class="contact__photo" />
      <span class="contact__name">Paul Newman</span>
      <span class="contact__status"></span>
    </div>
    <div class="search">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/elastic-srch.png" alt="" class="search__img" />
      <input type="text" class="search__input" placeholder="Search" />
    </div>
  </div>
  <!--
  <div class="chat">
    <span class="chat__back"></span>
    <span class="chat__status">status</span>
    <div class="chat__person">
      <span class="chat__online active"></span>
      <span class="chat__name">Huehue Huehue</span>
    </div>
    <div class="chat__messages">
      <div class="chat__msgRow">
        <div class="chat__message mine">Such SVG, much Javascript, very CSS!</div>
      </div>
      <div class="chat__msgRow">
        <div class="chat__message notMine">Wow!</div>
      </div>
      <div class="chat__msgRow">
        <div class="chat__message notMine">Very elastic! Such easings!</div>
      </div>
      <div class="chat__msgRow">
        <div class="chat__message mine">
          Check out my other <a href="https://codepen.io/suez/public/" target="_blank">pens</a>
        </div>
      </div>
    </div>
    <input type="text" class="chat__input" placeholder="Your message" />
  </div>-->
</div>
</body>

</html>
